/* .app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1; 
  overflow: hidden; 
} */

/* .left, .right {
  display: flex;
  flex-direction: column;
  padding: 6px 0px;
  overflow: hidden;
} */

/* .left {
  width: 20%; 
  height: 100%; 
}

.right {
  width: 80%; 
  height: 100%; 
}

.questions-list {
  flex: 1; 
  overflow-y: auto; 
}

.question-detail {
  height: 30%; 
}

.answer-detail {
  height: 70%; 
} */

.footer {
  position: fixed; /* Fix the footer to the bottom */
  bottom: 0; /* Align to the bottom */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  background-color: #f8f8f8; /* Background color for visibility */
  padding: 20px; /* Padding for the footer */
  text-align: center; /* Center text */
}

.right > div {
  flex: 1; /* Allow questions and answers to take equal height */
}

.markdown-body {
  width: 99%;
  height: 99%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 4px;
  background: #fff;
  overflow: auto;
}